anyio==3.7.1
dynaconf==3.2.4
huggingface-hub==0.19.4
langchain==0.0.329
langsmith==0.0.56
llama_cpp_python==0.2.13
matplotlib==3.8.1
numpy==1.26.1
protobuf==4.25.0
pyarrow==14.0.0
pydantic==1.10.13
python-dotenv==1.0.0
redis==5.0.1
safetensors==0.4.1
singleton-decorator==1.0.0
SQLAlchemy==1.4.50
streamlit==1.27.2
tenacity==8.2.3
tokenizers==0.15.0
transformers==4.35.2